// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.btn {
  background-color: #654268;
  color: white;
  border-radius: 20px;
  padding: 5px;
}

.container {
  margin: 0 auto;
  background-color: #EEEEEE;
  width: 400px;
  justify-content: center;
  border-radius: 5px;
}

body {
  font-family: 'Open Sans', sans-serif;
}
